.map-container {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    min-height: 800px;
    margin-top: 50px;
}

.map-content {
    display: flex;
    flex-direction: column;
    margin-top: 45px;
    margin-left: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);

}

.mappa {
    width: 1000px;
    height: 750px;

    background-color: #f4f4f4;
    border-radius: 8px;

    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.scrollable-element {
    height: 550px;
    width: 500px;
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid #ddd;
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.custom-button {
    padding: 10px 20px;
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
    cursor: pointer;
    margin-right: 50px;
}

.custom-button.login {
    background-color: #28a745;
    /* Verde per il login */
    color: white;
    border-color: #28a745;
}

.custom-button.logout {
    background-color: #dc3545;
    /* Rosso per il logout */
    color: white;
    border-color: #dc3545;
}

.custom-button:hover {
    background-color: transparent;
    color: black;
}

.custom-button.login:hover {
    border-color: #28a745;
}

.custom-button.logout:hover {
    border-color: #dc3545;
}

/* Stile per la track della scrollbar */
.scrollable-element::-webkit-scrollbar {
    width: 12px;
    /* Larghezza della scrollbar */
}

.login-button2 {

    /* Aumenta il padding */
    border: none;
    border-radius: 4px;
    background: #3485BD;
    /* Colore di sfondo del pulsante */
    color: #ffffff;
    /* Colore del testo */
    font-size: 18px;
    /* Aumenta la dimensione del font */
    cursor: pointer;
    transition: background 0.2s ease;
    width: 100%;
    height: 100%;
    /* Larghezza al 100% */
    max-width: 100px;
    max-height: 37px;
    margin-left: 0px;
    margin-right: 50px;
    /* Larghezza massima */
}

.login-button2:hover {
    background: #4ba7e9;
    /* Colore del pulsante quando si passa sopra con il mouse */
}

/* Stile per la track della scrollbar */


/* Stile per il thumb della scrollbar */
.scrollable-element::-webkit-scrollbar-thumb {
    background: #8d8d8d;
    /* Colore del thumb */
    border-radius: 10px;
    opacity: 1;
    background-color: transparent;
    /* Raggio per rendere il thumb più arrotondato */
}

.scrollable-element::-webkit-scrollbar-thumb:hover {
    background: #bdbdbd;
    opacity: 1;
    /* Colore del thumb quando si passa il mouse */
}

.decorative-frame {
    border: 2px solid #131313;
    border-radius: 15px;
    padding-bottom: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    background: linear-gradient(135deg, #f4f4f4, #e1e1e1);
    position: relative;
}

.decorative-frame::before {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    border: 2px dashed #8e9297;
    border-radius: 15px;
    z-index: -1;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    margin-top: 100px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

.header {
    margin-bottom: 20px;
    text-align: center;
    margin-top: -50px;
}

.header .marker-list {
    flex-grow: 1;
    background: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: left;
    max-width: 300px;
    margin-left: 150px;
    margin-right: -200px;
}

h1 {
    margin: 0;
    padding: 20px 0;
    text-align: center;
    font-size: 24px;
}

.marker-list h2 {
    margin-top: 0;
    color: #333;
    font-size: 20px;
    text-align: center;
}

.marker-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.marker-list li {
    padding: 10px;
    border-bottom: 1px solid #eee;
    color: #555;
    margin: 0;
}

.marker-list li:last-child {
    border-bottom: none;
}

.marker-list li:hover {
    background-color: #f1f1f1;
}

.editButton {
    background-color: #1159e0;
}

.editButton:hover {
    background: #3a70b3;
    /* opacity: 1; */
}