/* Mappa.css */

/* Imposta altezza e larghezza per riempire la finestra */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

/* Div per il testo sopra la mappa */
.box {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    /* Sfondo semi-trasparente */
    text-align: center;
    font-family: Arial, sans-serif;
    color: #333;
    z-index: 1000;
}

/* La mappa occupa l'80% dell'altezza e una larghezza ridotta */
.mappa {
    width: 70%;
    /* Riduci la larghezza della mappa */
    height: 80vh;
    /* Mappa ridotta al 80% dell'altezza del viewport */
    margin: 0 auto;
    /* Centra la mappa orizzontalmente */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #ccc;
    /* Aggiungi un bordo opzionale per migliorare l'estetica */
    border-radius: 10px;
    /* Arrotonda leggermente gli angoli della mappa */
    float: left;
}

/* Div che rimane sotto la mappa */
.footer {
    height: 20vh;
    /* 20% dell'altezza della pagina */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
    font-family: Arial, sans-serif;
}

.marker-list {

    max-height: 1000px;
    /* adjust the height to your liking */

    overflow-y: auto;

    padding: 10px;

    border: 1px solid #ddd;

    border-radius: 5px;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}


.marker-list ul {

    list-style: none;

    padding: 0;

    margin: 0;

}


.marker-list li {

    padding: 10px;

    border-bottom: 1px solid #ccc;

}


.marker-list li:hover {

    background-color: #f0f0f0;

    cursor: pointer;

}


.marker-list li:last-child {

    border-bottom: none;

}


.marker-list input[type="file"] {

    margin: 10px;

}


.marker-list img {

    width: 50px;

    height: 50px;

    margin: 10px;

    border-radius: 5px;

}

.contenitore {
    padding: 1.5rem;
}

/* Adjust the layout for mobile devices */
@media (max-width: 768px) {
    .marker-list {
        width: 40%;
        /* increase the width on smaller screens */
        height: 60vh;
        /* reduce the height on smaller screens */
    }
}

/* Mobile adjustments */
@media (max-width: 768px) {
    .mappa {
        width: 90%;
        /* Larghezza maggiore su schermi piccoli */
        height: 60vh;
        /* Ridurre ulteriormente la mappa su dispositivi mobili */
    }

    .footer {
        height: 40vh;
        /* Più spazio sotto la mappa su dispositivi mobili */
    }
}